.dashboard-content{
    width:100% ;
    height: 100vh;
    color: rgb(104, 132, 157);
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: hsla(219, 34%, 16%,1)
}
