.dashboard-content {
    width: 100%;
    min-height: 100vh;
    color: rgb(104, 132, 157);
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: hsla(219, 34%, 18%, 1)
}

.homePageCard {
    width: 90%;
    background: rgb(1, 32, 55);
    border: 1px solid rgb(59, 59, 105);
    height:150px;
    margin: 20px auto;
    border-radius: 5px;
    padding:20px 30px;
    
}
.align{
    align-items: center;
}
.theme2{
    background: hsla(219, 34%, 18%, 1)
}
