.bg{

    background-image: linear-gradient(
        rgba(187, 76, 56, 0.596),rgba(115, 51, 117, 0.849),
        rgba(33, 10, 114, 0.664)
      ), url("../../assets/smartwork.jpg");

height: 100vh;
}
