.homePageCard {
    padding:20px 30px;
    
}

.bg{
    border: 1px solid rgb(59, 59, 105);
    background: rgb(1, 32, 55);
    color: #57d139;
}

.align{
    align-items: center;
    margin: auto ;
}

.text-green-400 {
    color: rgba(132, 190, 248, 0.829);
}